/*  Stylesheet for Broadway project
 *  AJ Harrington <r11132a@gmail.com>
 */

body {
  font-family: Helvetica;
  text-align:  center;
}

#topnav {
  background-image: url("../imgs/the-flatiron-building.png"); 
}

h1 {
  font-size:   70px;
  font-weight: bold;
  color:       white;
}

a {
  font-size:   18px;
  color:       white;
}

h2 {
  font-size:   32px;
  font-weight: bold;
}

h3 {
  font-size:   23px;
  font-weight: bold;
}

p {
  font-size:   14px;
}

#break {
  background-image: url("../imgs/the-flatiron-building.png"); 
}

#break > h3 {
  color: white;
}

span.footer {
  font-size:   11px;
  color:       white;
}

#footer {
  background-color: dimgray;
}

#footer > p {
  text-align: left;
}
